@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%; 
    max-width: 1600px; 
    height: 83vh;
    position: relative;
    margin: 0 auto;
    border: 2px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    top: 10px; 
    margin-bottom: 1rem;
}

.container h1 {
    font-size: 50px;
}

.container h3 {
    font-size: 22px;
}

.container img {
    width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        height: auto; 
        padding: 20px; 
        border-width: 1px; 
    }

    .container h1 {
        font-size: 36px; 
    }

    .container h3 {
        font-size: 18px; 
    }

    .container img {
        width: 80%; 
        max-width: 400px; 
    }
}
