aside {
    width: 300px; 
    background-color: #ffffff; 
    border-right: 1px solid #e0e0e0; 
    height: 85vh; 
    overflow-y: auto;
    overflow-x: auto;
}

.users {
    display: flex;
    flex-wrap: wrap; 
    padding: 20px;
}

.userBtn {
    display: flex;
    align-items: center; 
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px; 
    transition: background-color 0.3s ease; 
    flex: 1 1 calc(45% - 10px); 
}

.userBtn:hover {
    background-color: #f0f0f0; 
}

.userBtn div img {
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
}

.userListTxt {
    font-size: 30px;
    font-family: "Overpass", serif;
    margin-bottom: 15px; 
}

.userTxt {
    font-family: "Overpass", serif;
}

.onlineIndicator {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute; 
    top: 5px; 
    right: -5px; 
}

@media (max-width: 768px) {
    aside {
        width: 100%; 
        height: auto; 
        border-right: none; 
        border-bottom: 1px solid #e0e0e0; 
    }

    .userBtn {
        flex: 1 1 calc(50% - 10px); 
        margin-bottom: 10px; 
    }
}
