body {
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.page img {
    width: 40vw;
    max-width: 280px;
    height: auto;
}

.mainForm {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    align-items: center;
    width: 90%;
    max-width: 550px;
    height: auto;
    padding: 2rem;
    justify-content: space-evenly;
    border-radius: 10px;
}

.mainForm button {
    width: 100px;
    height: 35px;
    font-size: 12px;
}

.logintxt {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    font-weight: 600; 
    margin-left: 2rem; 
}

#showbtn {
    background-color: transparent;
    border: none;
    color: rgb(146, 146, 146);
    text-decoration: underline;
    font-size: 12px;
}

#CAbtn {
    align-self: center;
    font-size: 12px;
    width: 170px;
    height: 35px;
    font-weight: 700;
    background-color: aqua;
    border-radius: 5px;
    transition: ease-in-out 90ms;
}

#CAbtn:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

#loginbtn {
   background-color: transparent; 
   border:none; 
   text-align:left; 
   color:aqua; 
   text-decoration:underline; 
   font-size:14px; 
}

#textInput {
   background:none; 
   border:rgb(192,192,192) solid 1px; 
   width:auto; 
   max-width:350px; 
   height:auto; 
   padding:.5rem; 
   font-size:.9rem; 
   border-radius:.25rem; 
}

#textInput:hover {
   border-color:rgb(94,94,94); 
}

#welcomeText {
   text-align:center; 
   display:flex; 
   flex-direction:column; 
   align-items:center; 
   width:auto; 
   margin-left:auto; 
   margin-right:auto; 
}

#welcomeText h1,
#welcomeText h3 {
   margin-top:.5rem; 
   margin-bottom:.5rem; 
}

/* Responsive Styles */
@media (max-width: 600px) {
   .mainForm {
       width: 95%;
       padding: 10px; 
   }

   #CAbtn {
       width: calc(100% - 20px); 
   }

   #textInput {
       width: calc(100% - 20px); 
   }

   #welcometxt h3 {
       margin-left:auto; 
       margin-right:auto; 
       text-align:center; 
   }
}
